<div class= "hero-unit">
<h1>About</h1>
<p>gainly is an app that will connect you with real-time offers run by pubs, cafes, restaurants and bars in the area. A map function will enable you to be find and purchase local short-term deals, to help you get there first! gainly will be operational from Freshers` Week onwards. Sign up to receive notification when the app is available.</p>
</div>
